header{
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: $redline-unit;
    padding: 16px 0px;
    background-color: $primary;
    z-index: $nav-z-index;
    @media (max-width: 767px){
        display: none;
    }
    .social-icon{
        display: inline-block;
        padding: 0px 5px;
        @include no-effect;
    }
}